# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Prettier typically wants to terminate the <meta ...> tag
# with <meta ... />
# However according to the documentation: https://www.w3schools.com/tags/tag_meta.asp
# and e.g. this post: https://stackoverflow.com/questions/19506028/do-you-need-to-close-meta-and-link-tags-in-html
# this is wrong.
# For this we disable linting on this file.
src/app.html
