@import 'tailwindcss';

@source '../../node_modules/@totocorpsoftwareinc/frontend-toolkit/**/*.svelte';

@theme {
	--color-primary: #000;
	--color-primary-hover: #222;
	--color-primary-selected: #444;
	--color-secondary: #fff;
	--color-secondary-hover: #fff;
	--color-error: #d92d0f;
	--color-overlay: #0b0b45;
}
